@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Balsamic Sans';
}
header{
    text-align: center;
    background: #000;
    color: #fff;
    padding: 10px 0;
    
}