@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Balsamic Sans";
}
body {
  background-image: url("../assets/images/purplebg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
header {
  text-align: center;
  background: #000;
  color: #7f00ff;
  padding: 10px 0;
}
#quiz {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}
div {
  border: 2px solid #5624d0;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
}
p {
  display: inline block;
  padding: 7px;
  border-radius: 7px;
  cursor: pointer;
  border: 1px dashed #ccc;
  margin-bottom: 2px;
}
p:hover {
  background: #cec0fc;
}
button {
  width: 65%;
  display: block;
  margin: auto;
  padding: 15px;
  background-color: #56941e;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-size: 22px;
}
button:hover {
  background: #000;
  color: #fff;
}
.showcase{
  margin: auto;
  padding: 20px;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showcase div{
  max-width: 700px;
  width: 100%;
  margin: auto;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;


}
